body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
}

#container {
    border: 1px solid black;
    width: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
    text-align: left;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}